<a href="https://colab.research.google.com/github/themidwestcanapps/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/Copy_of_Assigment1_Sprint2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-09-09 23:35:56--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.39.110
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.39.110|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  35.5MB/s    in 6.1s

2019-09-09 23:36:03 (31.9 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [0]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01/instacart_2017_05_01

In [0]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
from IPython.display import display, Image
url =  'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)
display(example)

    needed:
        - product_id
        - product_name
        - order_number?
        - order_dow?
        - add_to_cart_order
    
    dataframes to merge:
        - order_products_priot w/ orders
        - THEN merge that with products

In [0]:
import pandas as pd

In [0]:
 

products = pd.read_csv('products.csv')

order_products = pd.concat([pd.read_csv('order_products__prior.csv'),
                           pd.read_csv('order_products__train.csv')])

orders = pd.read_csv('orders.csv')

In [0]:
merged_od = pd.merge(order_products, products, how='inner', on='product_id')

In [0]:
merged_od.head()

In [0]:
merged_od.sort_values('order_id', axis=0, ascending=False)

In [0]:
merged_2 = (merged_od[['product_id', 'product_name', 'order_id', 'reordered', 'add_to_cart_order']]
           .merge(orders[['order_id', 'order_number']]))

In [0]:
merged_2[merged_2['product_name'].str.match('Banana')]

In [0]:
merged_2['All'] = merged_2['order_number'] + merged_2['add_to_cart_order']

In [0]:
merged_2.columns.tolist()

['product_id',
 'product_name',
 'order_id',
 'reordered',
 'add_to_cart_order',
 'order_number',
 'All']

In [0]:
merged_2.sort_values('All', ascending=False)

In [0]:
merged_2[merged_2['product_name'].str.match('Banana')]

In [0]:
merged_2.sort_values('add_to_cart_order', axis=0, ascending=True,
                    inplace=True, na_position='first')

In [0]:
merged_2['Occ_Number'] = merged_2.groupby('product_name').cumcount()+1

In [0]:
merged_2.sort_values('Occ_Number', ascending=False)

In [0]:
top_pr = merged_2.groupby('product_name').sum()

In [0]:
top_pr.sort_values('Occ_Number', ascending=False)

In [0]:
top_pr['Purchased_Events_Total'] = top_pr['All'] + top_pr['reordered'] + top_pr['Occ_Number']

In [0]:
top_pr.sort_values('Purchased_Events_Total', ascending=False)

To get on="_" 
I belive I must first merge order_products_prior w/ orders and then merge that with products

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
%matplotlib inline 
import pandas as pd 
import numpy as np 
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
    [16,     11],
    [3,       1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'],
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

In [0]:
table1

In [0]:
table2

In [0]:
table1 = table1.reset_index()
table1

In [0]:
tidy = table1.melt(id_vars='index', value_vars=['treatmenta', 'treatmentb'])
tidy

In [0]:
tidy = tidy.rename(columns={
    'index': 'name',
    'variable': 'trt',
    'value': 'result'
})

tidy

In [0]:
tidy.trt = tidy.trt.str.replace('treatment', '')

tidy

In [0]:
wide = tidy.pivot_table(index='name', columns='trt', values='result')

wide

In [0]:
table2 = table2.reset_index()

table2

In [0]:
tidy2 = table2.melt(id_vars=['John Smith', 'Jane Doe', 'Mary Johnson'], value_name='treatment') 

tidy2

In [0]:
tidy2 = tidy2.

In [0]:
flights = sns.load_dataset('flights')

In [0]:
##### YOUR CODE HERE #####

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####